<!DOCTYPE html>
<html>
<head>
  <title>Unidom Geo</title>
  <%= stylesheet_link_tag    'unidom/geo/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'unidom/geo/application' %>

</body>
</html>
